@font-face {
  font-family: Montserrat;
  src: url(../assets/font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Varela;
  src: url(../assets/font/Varela_Round/VarelaRound-Regular.ttf);
}
