.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#showcase {
  height: 300px;
  background: linear-gradient(180deg, #fff, #333),
    url('../assets/img/showcase.jpg') no-repeat no-repeat center center/cover;
  background-blend-mode: multiply;
  text-align: center;
  color: #ffffff;
  position: relative;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#showcase h1 {
  margin-top: 20px;
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: 900;
}

#showcase p {
  font-size: 14px;
  font-weight: 800;
}

.order-now {
  font-size: 2rem !important;
  font-family: Varela;
  font-weight: 900;
}

.box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 768px) {
  #showcase h1 {
    margin-top: 30px;
    font-size: 30px;
  }
  .box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  #showcase h1 {
    font-size: 26px;
  }

  #showcase p {
    font-size: 13px;
  }
}
